In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# data
leases = pd.read_csv('Leases.csv')
prices = pd.read_csv('Price and Availability Data.csv')
talent = pd.read_csv('enrollement.csv')
markets = ['Atlanta', 'Austin', 'Baltimore', 'Boston', 'Charlotte', 'Chicago', 'Chicago Suburbs', 'Dallas/Ft Worth', 'Denver', 'Detroit', 'Houston', 'Los Angeles', 'Manhattan', 'Nashville', 'Northern New Jersey', 'Northern Virginia', 'Orange County', 'Philadelphia', 'Phoenix', 'Raleigh/Durham', 'Salt Lake City', 'San Diego', 'San Francisco', 'Seattle', 'South Bay/San Jose', 'South Florida', 'Maryland', 'Tampa', 'Washington D.C.']

In [3]:
# edit columns
market_mapping = {
    'Downtown Chicago': 'Chicago',
    'Denver-Boulder': 'Denver',
    'Suburban Maryland': 'Maryland',
    'Raleigh-Durham': 'Raleigh/Durham',
    'Dallas-Ft. Worth': 'Dallas/Ft Worth',
    'Orange County (CA)': 'Orange County',
    'South Bay': 'South Bay/San Jose',
    'Washington DC': 'Washington D.C.'
}
prices['market'] = prices['market'].replace(market_mapping)

In [4]:
columns_to_keep = ['market', 'state']
leases = leases[columns_to_keep].copy()
leases = leases.drop_duplicates(subset=['market'])

In [11]:
state_to_enrollment = dict(zip(talent['State or Region'], talent['Fall 2022 Active*']))

In [12]:
leases['enrollment'] = leases['state'].map(state_to_enrollment)

In [14]:
market_to_enrollment = dict(zip(leases['market'], leases['enrollment']))

In [15]:
market_to_enrollment

{'Atlanta': '  520,034 ',
 'Austin': '  1,530,623 ',
 'Baltimore': '  330,101 ',
 'Boston': '  472,497 ',
 'Charlotte': '  546,045 ',
 'Chicago': '  699,580 ',
 'Chicago Suburbs': '  699,580 ',
 'Dallas/Ft Worth': '  1,530,623 ',
 'Denver': '  325,586 ',
 'Detroit': '  475,669 ',
 'Houston': '  1,530,623 ',
 'Los Angeles': '  2,396,351 ',
 'Manhattan': '  1,121,285 ',
 'Nashville': '  294,994 ',
 'Northern New Jersey': '  363,215 ',
 'Northern Virginia': '  526,470 ',
 'Orange County': '  2,396,351 ',
 'Philadelphia': '  628,647 ',
 'Phoenix': '  563,340 ',
 'Raleigh/Durham': '  546,045 ',
 'Salt Lake City': '  386,226 ',
 'San Diego': '  2,396,351 ',
 'San Francisco': '  2,396,351 ',
 'Seattle': '  315,071 ',
 'South Bay/San Jose': '  2,396,351 ',
 'South Florida': '  934,983 ',
 'Southern Maryland': '  330,101 ',
 'Tampa': '  934,983 ',
 'Washington D.C.': '  122,546 '}

In [13]:
leases

                   market state    enrollment
0                 Atlanta    GA      520,034
100                Austin    TX    1,530,623
177             Baltimore    MD      330,101
220                Boston    MA      472,497
363             Charlotte    NC      546,045
400               Chicago    IL      699,580
494       Chicago Suburbs    IL      699,580
565       Dallas/Ft Worth    TX    1,530,623
765                Denver    CO      325,586
880               Detroit    MI      475,669
952               Houston    TX    1,530,623
1160          Los Angeles    CA    2,396,351
1412            Manhattan    NY    1,121,285
1689            Nashville    TN      294,994
1726  Northern New Jersey    NJ      363,215
1771    Northern Virginia    VA      526,470
1865        Orange County    CA    2,396,351
1959         Philadelphia    PA      628,647
2048              Phoenix    AZ      563,340
2113       Raleigh/Durham    NC      546,045
2145       Salt Lake City    UT      386,226
2171            San Diego    CA    2,396,351
2272        San Francisco    CA    2,396,351
2346              Seattle    WA      315,071
2426   South Bay/San Jose    CA    2,396,351
2471        South Florida    FL      934,983
2652    Southern Maryland    MD      330,101
2706                Tampa    FL      934,983
2758      Washington D.C.    DC      122,546